/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
    background-image:none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #23005b;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 2cm;
    -webkit-border-radius: 2cm;
    -moz-border-radius: 2cm;
    -ms-border-radius: 2cm;
    -o-border-radius: 2cm;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #ebdaff;
    text-decoration: none;
    padding: 5px 10px;
}

.hero {
    background-color: #210035;
    text-align: center;
    padding: 100px 0;
    background-image:cross-fade()
}

.hero h1 {
    font-size: 3em;
    color: #ffffff;
}

.hero p {
    font-size: 1.5em;
    color: #c898ff;
}

.btn {
    display: inline-block;
    background: #cea1fc;
    color: #030000;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10cm;
    -webkit-border-radius: 10cm;
    -moz-border-radius: 10cm;
    -ms-border-radius: 10cm;
    -o-border-radius: 10cm;
}

.btn:hover {
    background: #ffffff;
}

.content-section {
    padding: 80px 0;
}

/* Media Queries for responsive design (optional) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .hero h1 {
        font-size: 2.5em;
    }
    .hero p {
        font-size: 1.2em;
    }
}
